*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #4f46e5,
        #7c3aed,
        #06b6d4
    );

    min-height:100vh;
    padding:30px;
}

.container{
    max-width:900px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:#4338ca;
    margin-bottom:15px;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
}

button{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#4338ca;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#312e81;
}

.card{
    background:#f8fafc;
    padding:20px;
    margin-top:20px;
    border-radius:15px;
}

.card h3{
    color:#4338ca;
    margin-bottom:10px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 20px;
    background:#4338ca;
    color:white;
    text-decoration:none;
    border-radius:10px;
}