<!DOCTYPE html>
<html>
<head>

    <title>AI Career Recommender</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🧠 AI Career Recommender System</h1>

    <p class="subtitle">
        Find the best career based on your skills and study habits.
    </p>

    <form action="/recommend" method="POST">

        <label>Skills</label>

        <input
        type="text"
        name="skills"
        placeholder="python, html, css"
        required>

        <label>Study Hours Per Day</label>

        <input
        type="number"
        name="hours"
        min="1"
        max="12"
        required>

        <label>Experience Level</label>

        <select name="experience">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
        </select>

        <label>Course / Branch</label>

        <select name="course">
            <option>CSE</option>
            <option>IT</option>
            <option>ECE</option>
            <option>EEE</option>
            <option>MECH</option>
            <option>CIVIL</option>
        </select>

        <label>Career Interest</label>

        <select name="interest">
            <option>Software Development</option>
            <option>Artificial Intelligence</option>
            <option>Data Science</option>
            <option>Cyber Security</option>
            <option>Cloud Computing</option>
            <option>UI/UX Design</option>
        </select>

        <button type="submit">
            🚀 Get Recommendation
        </button>

    </form>

</div>

</body>
</html>